<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      HomeOffice SisemaJeq
    </ion-title>
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true" color="light">
  <ion-img src="https://c0.wallpaperflare.com/preview/935/131/755/flowers-interior-room-home.jpg"></ion-img>

<ion-list>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label  class="ion-text-wrap">Item Thumbnail quebra a linha se ao conseguir colocar o elemento</ion-label>
    <ion-chip color="success">
      <ion-label>1</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>Item Thumbnail</ion-label>
  </ion-item>
</ion-list>

<ion-searchbar placeholder="Buscar...">

</ion-searchbar>

</ion-content>

  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="b1">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Usuários</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="b2">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="b3">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
      <ion-label>Voltar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
